{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .row DIV .col-xs-4:hover {
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-muted">Filters:</p>
                    <form class="form-inline" method="get" action="{{ path('app_project_getall') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="offset" required placeholder="offset">
                            <input type="text" class="form-control" name="limit" required placeholder="limit">
                        </div>
                        <button type="submit" class="btn btn-default">Ok</button>
                    </form>
                </div>
            </div>
            <div class="row">
                {% for project in projects %}
                    <div class="col-xs-4 col-lg-4">
                        <h2>{{ project.name }}</h2>
                        <p class="text-muted">{{ project.description|slice(0, 195) }}</p>
                        <p>Is public: {{ project.status ? 'Yes' : 'No' }}</p>
                        {% for customField in project.customFields %}
                            {% if customField.value %}
                                <p><li>{{ customField.name }}: {{ customField.value }}</li></p>
                            {% endif %}
                        {% endfor %}
                        {% if project.parent %}
                            <p>Parent: {{ project.parent.name }}</p>
                        {% endif %}
                        <p>Created: {{ project.createdOn|date }}</p>
                        <p><a class="btn btn-primary" href="{{ path('app_project_get', {'id': project.id}) }}" role="button">View details &raquo;</a></p>
                    </div><!--/.col-xs-4.col-lg-4-->
                {% endfor %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-12-->
    </div><!--/row-->
{% endblock %}
